body{
    background-color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.flex-container{
    padding: 10em 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

h1{
    font-size: 3em;
    color: white;
}

h3{
    color: white;
    text-align: center
}
a{
    color: white;
}
/*label{
    color: white;
}*/

input{
    width: 35em;
    height: 4em;
    padding: 0 1em;
    font-size: 1em;
    border-radius: 7px 0 0 7px;
}

button{
    background-color: #27b573;
    color: white;
    border: none;
    padding: 2em 3em;
    border-radius: 0 7px 7px 0;
}

p{
    font-size: 1.7em;
    color: white;
    text-align: center;
}